#root {
  /* background: #222f3e; */
  /* #08193b #102148 #182955 #203262  */
  /* background: linear-gradient(to right, rgba(8,25,59,1) 0%, rgba(7,20,49,1) 33%, rgba(6,14,40,1) 66%, rgba(2,5,31,1) 100%); */
  /* background: linear-gradient(
    to right,
    rgba(2, 5, 31, 1) 0%,
    rgba(6, 14, 40, 1) 33%,
    rgba(7, 20, 49, 1) 66%,
    rgba(8, 25, 59, 1) 100%
  ); */
}

@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@100;300;400;600;700&family=Raleway:wght@100;200;300;400;500;600;700&display=swap");
nav {
  font-family: "Raleway", sans-serif;
  background: linear-gradient(
    to right,
    rgba(2, 5, 31, 1) 0%,
    rgba(6, 14, 40, 1) 33%,
    rgba(7, 20, 49, 1) 66%,
    rgba(8, 25, 59, 1) 100%
  );
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Raleway", sans-serif;
  color: white;
}
p {
  font-family: "Raleway", sans-serif;
  font-size: 13px;
  font-weight: 400;
  line-height: 24px;
}
.badge {
  font-size: 60%;
}
#album {
  padding-top: 4rem;
}
#informacion {
  color: white;
  border-radius: 5px;
  padding: 10px;
  background-color: #565e674f;
  color: white;
  max-width: 600px;
}
.col-info.row {
  display: block;
}

/* .jumbotron {
  border-radius: 5px;
  padding: 10px;
  background-color: #565e674f;
  color: white;
} */

.card {
  border-radius: 8px;
  overflow: hidden;
  border-color: #6c757d;
  /* box-shadow: 4px 4px 18px -9px rgba(166,166,166,0.66)!important; */
}
.card-body {
  background-color: black;
  padding-top: 1rem;
}
.card-title {
  font-size: 0.9rem;
  color: #db362d;
  font-weight: 600;
  font-family: "Raleway", sans-serif;
}
p.card-text {
  color: white;
  font-size: 0.9rem;
  line-height: 1.2rem;
  max-height: 6rem;
  overflow: hidden;
  transition: all 0.3s ease-out 0s;
  text-align: justify;
}

p.card-text:hover {
  max-height: 20rem;
}
.card-bg-img {
  height: 208px;
  background-size: cover;
  background-position: center center;
}
ul.keyword {
  font-family: "Raleway", sans-serif;
  display: inline;
  font-weight: 100;
  line-height: 1;
  margin-right: 4px;
  padding-inline-start: 0px;
}

.btn-next {
  background-color: #db362d;
  color: white;
}
.btn-next:hover {
  background-color: #9c2720;
}
#carousel {
  position: relative;
}
#carousel .overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  /* background-color: rgba(0, 0, 0, 0.5); */
  color: white;
}
#carousel .overlay .container,
#carousel .overlay .row {
  height: 100%;
}
.carousel-inner > .carousel-item {
  height: 70vh;
}
img.d-block.w-100 {
  max-height: 70vh;
  object-fit: cover;
}
.carousel-caption {
  position: absolute;
  left: 0;
  right: 0;
  padding-top: 0px;
  padding-bottom: 0px;
  bottom: 5px;
}

.carousel-item:after {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.2);
}
.carousel-caption p {
  font-family: "Raleway", sans-serif;
  font-size: 13px;
  font-weight: 400;
  line-height: 18px;
  text-shadow: none;
}
#footer {
  /* background: linear-gradient(90deg,#1c3643,#273b47 25%,#1e5372); */
  /* background: linear-gradient(to right, rgba(8,25,59,1) 0%, rgba(77,104,125,1) 100%); */
  /* background: linear-gradient(to right, rgba(8,25,59,1) 0%, rgba(8,25,59,1) 41%, rgba(77,104,125,1) 100%); */
}
p.footer-dark {
  color: rgba(255, 255, 255, 0.5);
}

p.test{
  color: white;
}
.content {
  max-width: 1600px;
  display: flex;
  flex-wrap: wrap;
  margin: 0 auto;
  /* max-height: 450px; */
  overflow: auto;
  /* border-radius: 8px; */
  /* border: 1px solid #ded; */
  margin-top: 20px;
}
.img-box {
  min-width: 134px;
  width: calc(25% - 16px);
  flex-grow: 1;
  margin: 4px;
  overflow: hidden;
  /* border: 1px solid #ded;
  border-radius: 8px;
  padding: 4px; */
}

.img-box img {
  max-width: 100%;
  min-height: 100%;
  object-fit: cover;
  border-radius: 6px;
}
.modal-body img {
  max-width: 100%;
}