#root {
  background: #222f3e;
}

.badge {
  font-size: 60%;
}
.card {
  border-radius: 8px;
  overflow: hidden;
  border-color: #6c757d;
  /* box-shadow: 4px 4px 18px -9px rgba(166,166,166,0.66)!important; */
}
.card-body {
  background-color: black;
  padding-top: 1rem;
}
.card-title {
  font-size: 0.9rem;
  color: #db362d;
}
p.card-text {
  color: white;
  font-size: 0.9rem;
  line-height: 1.2rem;
  max-height: 6rem;
  overflow: hidden;
  transition: all 0.3s ease-out 0s;
  text-align: justify;
}

p.card-text:hover {
  max-height: 20rem;
}
.card-bg-img {
  height: 208px;
  background-size: cover;
  background-position: center center;
}
ul.keyword {
  display: inline;
  line-height: 1;
  margin-right: 4px;
}
.btn-next{
  background-color: #db362d;
  color: white;
}
.btn-next:hover{
  background-color: #9c2720;
}